<?xml version ="1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="SathyaElectronics" verbose  = "1">
	<test name = "Test1">
	<parameter name="baseURL" value="https://www.sathya.in/"/>
		<classes>
			<class name = "sathyatest.ProductExcelWrite"/>
		</classes>
	</test>
	<listeners>
			<listener class-name="utilities.Listeners"></listener>
    </listeners>
	<test name = "Test2">
	<parameter name="baseURL" value="https://www.sathya.in/"/>
		<classes>
			<class name = "sathyatest.ProductPayment"/> 
		</classes>
	</test>
</suite>